discord_token=
channel=
ws_nodes_Ethereum = "wss://ethereum-rpc.publicnode.com"
ws_nodes_BSC = "wss://bsc-rpc.publicnode.com"
ws_nodes_Polygon = "wss://polygon-bor-rpc.publicnode.com"
ws_nodes_Kava = "wss://wevm.kava-rpc.com"
scan_start_date = "2026-05-22T00:00:00Z"
address_scan_interval_hours = "12"
