discord_token=
channel=

ws_nodes_Ethereum = ""
ws_nodes_BSC = ""
ws_nodes_Polygon = ""
ws_nodes_Kava = ""

eth_scan_api_key = ""
bsc_scan_api_key = ""
polygon_scan_api_key = ""
moralis_api_key = ""

scan_start_date = "2026-03-12T02:33:00Z"
evm_v1_1_history_days = "1"
evm_v1_1_history_interval_hours = "12"
evm_v1_1_history_confirmations = "12"

evm_v1_1_history_max_log_range_blocks = "10000"
evm_v1_1_avg_block_time_seconds_Ethereum = "12"
evm_v1_1_avg_block_time_seconds_BSC = "0.45"
evm_v1_1_avg_block_time_seconds_Polygon = "2"
evm_v1_1_avg_block_time_seconds_Kava = "6"
